<%- include('../includes/layout-template') -%>

<div class="content">
    <div class="container-fluid">
        <div class="section">

            <div class="card">
                <div id="message">
                    <div id="alertmsg" class="w-50 mx-auto my-3">
                        <% if (error_message.length != 0) { %>
                            <div class="alert alert-danger">
                                <button type="button" aria-hidden="true" class="close" data-dismiss="alert">
                                    <i class="nc-icon nc-simple-remove"></i>
                                </button>
                                <span>
                            <b> Error- </b><%= error_message %></span>
                            </div>

                        <% } %>

                        <% if (success_message.length != 0) { %>
                            <div class="alert alert-warning" style="border-radius: 5px">
                                <button type="button" aria-hidden="true" class="close" data-dismiss="alert">
                                    <i class="nc-icon nc-simple-remove"></i>
                                </button>
                                <span>
                                    <b> Success - </b> <%= success_message %></span>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="card-header">

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="/addentreprise" class="btn btn-info btn-fill">Créer une entreprise</a>
                            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                <tr>
                    <th scope="col">#id</th>
                    <th scope="col">nom_entreprise</th>
                    <th scope="col">type_entreprise</th>

                </tr>
                </thead>
                <tbody>

                <% for(var i=0; i<test.length; i++) {%>
                    <tr>
                        <th scope="row"><%= test[i].id %></th>
                        <td><%= test[i].nom_entreprise %></td>
                        <td><%= test[i].type_entreprise %></td>
                        <td><form action="/updateentreprise/<%= test[i].id %>" method="post"><button type="submit" rel="tooltip" title="Modifier" class="btn btn-info btn-simple btn-link"><i class="fa fa-edit"></i> </button></form></td>
                        <td><form action="/deleteentreprise/<%= test[i].id %>" method="post"><button type="submit" rel="tooltip" title="Supprimer" class="btn btn-danger btn-simple btn-link"><i class="fa fa-times"></i></button></form></td>

                    </tr>
                <% } %>


                </tbody>
            </table>
            </div>
        </div>


    </div>

</div>
            </div>
        </div>
    </div>
</div>
<%- include('../includes/footer') -%>