
<div class="container  p-5">


    <h1 class="text-center">Affichage des véhicules</h1>
    <br/>
    <div class="card">

        <div class="card-body">
            <ul class="nav justify-content-center">



                <li class="nav-item">
                    <a class="nav-link" href="#">resultat du echo des donnée vehicules</a>
                </li>

            </ul>
            <table class="table table-striped table-dark">
                <thead>
                <tr>
                    <th scope="col">#id</th>
                    <th scope="col">id_vehicules</th>
                    <th scope="col">date</th>
                    <th scope="col">trajet_start</th>
                    <th scope="col">trajet_end</th>
                    <th scope="col">commentaire</th>
                    <th scope="col">type_deplacement</th>
                </tr>
                </thead>
                <tbody>

                <% for(var i=0; i<test.length; i++) {%>
                    <tr>
                        <th scope="row"><%= test[i].id %></th>
                        <td><%= test[i].id_vehicules %></td>
                        <td><%= test[i].date %></td>
                        <td><%= test[i].trajet_start %></td>
                        <td><%= test[i].trajet_end %></td>
                        <td><%= test[i].commentaire %></td>
                        <td><%= test[i].type_deplacement %></td>
                        <td><form action="/deletetrajet/<%= test[i].id %>" method="post"><button type="submit" class="btn btn-dark btn-block">supprimer</button></form></td>
                    </tr>
                <% } %>


                </tbody>
            </table>

        </div>


    </div>

</div>
