<%- include('../includes/layout-update') -%>

<div class="content">
    <div class="container-fluid">
        <div class="section">

            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="text-center">modification d'un individu </h1>
                            <br/>
                            <div class="card">

                                <div class="card-body">
            <form action="/upuser" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Nom</label>
                    <input type="text" class="form-control" name="nom" id="exampleInputEmail1" value="<%= user.nom %>" >
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="exampleInputEmail1" value="<%= user.prenom %>">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">entreprise</label>
                    <input type="text" class="form-control" name="entreprise" id="exampleInputEmail1" value="<%= user.entreprise %>">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Adresse email</label>
                    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%= user.email %>">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Mot de passe</label>
                    <input type="password" class="form-control" name="password" id="password" value="<%= user.password %>">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">role</label>
                    <input type="text" class="form-control" name="role" id="role" value="<%= user.role %>">
                </div>
                <button type="submit" id="buttons" class="btn btn-dark btn-block">Inscription</button>
            </form>
        </div>


    </div>

</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../includes/footer-update') -%>